#image {
    width: 100%;
    height: auto;
}

.btn {
    margin: 2px;
}

.title {
    text-align: center;
}

#fileselect {
    display: none;
}

#uploadbutton {
    font-size: 20px;
    font-weight: bold;
}

#image-container {
    text-align: center;
}

canvas {
    height: auto;
    max-width: 10%;
}

.item .carousel-caption {
    color: black;
}

.carousel-caption {
    color: black
}